<div class="main-content">
  <div class="container-fluid">
    <!-- <main id="main" class="main"> -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Aprobadas -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">Aceptadas<span>
                      <mat-tab-group class="mat-tab-group" mat-align-tabs="center">
                        <mat-tab label="Empresas" class="mat-tab-label">
                          <div class="d-flex align-items-center"style="background-image: url('assets/img/Imagen7.png');">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-check-square-fill"></i>
                            </div>
                            <div class="ps-3">
                              <h6>{{empresasAceptadas.length}}</h6>
                              <span class="text-success small pt-1 fw-bold"></span> <span
                                class="text-muted small pt-2 ps-1"></span>
                            </div>
                          </div>
                        </mat-tab>
                        <mat-tab label="Vacantes" class="mat-tab-label">
                          <div class="d-flex align-items-center"
                            style="background-image: url('assets/img/Imagen7.png');">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-check-square-fill"></i>
                            </div>
                            <div class="ps-3">
                              <h6>{{vacantesAceptadas.length}}</h6>
                              <span class="text-success small pt-1 fw-bold"></span> <span
                                class="text-muted small pt-2 ps-1"></span>
                            </div>
                          </div>
                        </mat-tab>
                      </mat-tab-group>
                    </span></h5>
                </div>

              </div>
            </div><!-- End Aprobadas -->


            <!-- Rechazadas -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">Rechazadas <span>
                      <mat-tab-group class="mat-tab-group" mat-align-tabs="center">
                        <mat-tab label="Empresas" class="mat-tab-label">
                          <div class="d-flex align-items-center"
                            style="background-image: url('assets/img/Imagen8.png')">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-file-excel-fill"></i>
                            </div>
                            <div class="ps-3">
                              <h6>{{empresasRechazadas.length}}</h6>
                              <span class="text-success small pt-1 fw-bold"></span> <span
                                class="text-muted small pt-2 ps-1"></span>
                            </div>
                          </div>
                        </mat-tab>
                        <mat-tab label="Vacantes" class="mat-tab-label">
                          <div class="d-flex align-items-center"
                            style="background-image: url('assets/img/Imagen8.png')">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-file-excel-fill"></i>
                            </div>
                            <div class="ps-3">
                              <h6>{{vacantesRechazadas.length}}</h6>
                              <span class="text-success small pt-1 fw-bold"></span> <span
                                class="text-muted small pt-2 ps-1"></span>

                            </div>
                          </div>
                        </mat-tab>
                      </mat-tab-group>
                    </span></h5>
                </div>

              </div>
            </div><!-- End Rechazadas -->

            <!-- Tabla de Empresas -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">Empresas recientes <span>
                      <mat-tab-group class="mat-tab-group" mat-align-tabs="center">
                        <mat-tab label="Aceptadas" class="mat-tab-label">
                          <table class="table table-borderless datatable">
                            <thead>
                              <tr align="center">
                                <th scope="fotoDePerfil">Foto de Perfil</th>
                                <th scope="numero">Número</th>
                                <th scope="empresa">Empresa</th>
                                <th scope="estado">Estado</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr align="center" 
                                *ngFor="let empresaAceptada of empresasAceptadas | paginate: page_size_recent_companys:page_number_recent_companys">
                                <!-- <th scope="row"><a href="#"><img src="../../../assets/img/unknown-user.jpg" alt=""></a></th> -->
                                <th scope="row"><a [href]="urlEmpresa(empresaAceptada.id_empresa)"><img [src]= "empresaAceptada.foto_empresa" alt=""></a></th>
                                <th scope="row"><a [href]="urlEmpresa(empresaAceptada.id_empresa)">{{empresaAceptada.id_empresa}}</a></th>
                                <td><a [href]="urlEmpresa(empresaAceptada.id_empresa)" class="text-dark">{{empresaAceptada.nombre}}</a></td>
                                <td><span class="badge bg-success text-dark">{{empresaAceptada.estado}}</span></td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- Paginación -->
                          <div class="row justify-content-end mw-100" *ngIf="empresasAceptadas.length > 0">
                            <mat-paginator [length]="empresasAceptadas.length" [pageSize]="page_size_recent_companys"
                              [pageSizeOptions]="pageSizeOptionsRecentCompanys" showFirstLastButtons (page)="handlePageRecentCompanys($event)">
                            </mat-paginator>
                          </div>
                        </mat-tab>
                        <mat-tab label="En Espera" class="mat-tab-label">
                          <table class="table table-borderless datatable">
                            <thead>
                              <tr align="center">
                                <th scope="fotoDePerfil">Foto de Perfil</th>
                                <th scope="numero">Número</th>
                                <th scope="empresa">Empresa</th>
                                <th scope="estado">Estado</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr align="center"
                                *ngFor="let empresaEnEspera of empresasEnEspera  | paginate: page_size_recent_companys:page_number_recent_companys">
                                <!-- <th scope="row"><a href="#"><img src="../../../assets/img/unknown-user.jpg" alt=""></a></th> -->
                                <th scope="row"><a [href]="urlEmpresa(empresaEnEspera.id_empresa)"><img [src]= "empresaEnEspera.foto_empresa" alt=""></a></th>
                                <th scope="row"><a [href]="urlEmpresa(empresaEnEspera.id_empresa)">{{empresaEnEspera.id_empresa}}</a></th>
                                <td><a [href]="urlEmpresa(empresaEnEspera.id_empresa)" class="text-dark">{{empresaEnEspera.nombre}}</a></td>
                                <td><span class="badge bg-warning text-dark">{{empresaEnEspera.estado}}</span></td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- Paginación -->
                          <div class="row justify-content-end mw-100" *ngIf="empresasEnEspera.length > 0">
                            <mat-paginator [length]="empresasEnEspera.length" [pageSize]="page_size_recent_activitys"
                              [pageSizeOptions]="pageSizeOptionsRecentCompanys" showFirstLastButtons
                              (page)="handlePageRecentCompanys($event)">
                            </mat-paginator>
                          </div>
                        </mat-tab>
                        <mat-tab label="Rechazadas" class="mat-tab-label">
                          <table class="table table-borderless datatable">
                            <thead>
                              <tr align="center">
                                <th scope="fotoDePerfil">Foto de Perfil</th>
                                <th scope="numero">Número</th>
                                <th scope="empresa">Empresa</th>
                                <th scope="estado">Estado</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr align="center" 
                                *ngFor="let empresaRechazada of empresasRechazadas | paginate: page_size_recent_companys:page_number_recent_companys">
                                <!-- <th scope="row"><a href="#"><img src="../../../assets/img/unknown-user.jpg" alt=""></a></th> -->
                                <th scope="row"><a [href]="urlEmpresa(empresaRechazada.id_empresa)"><img [src]= "empresaRechazada.foto_empresa" alt=""></a></th>
                                <th scope="row"><a [href]="urlEmpresa(empresaRechazada.id_empresa)">{{empresaRechazada.id_empresa}}</a></th>
                                <td><a [href]="urlEmpresa(empresaRechazada.id_empresa)" class="text-dark">{{empresaRechazada.nombre}}</a></td>
                                <td><span class="badge bg-danger text-dark">{{empresaRechazada.estado}}</span></td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- Paginación -->
                          <div class="row justify-content-end mw-100" *ngIf="empresasRechazadas.length > 0">
                            <mat-paginator [length]="empresasRechazadas.length" [pageSize]="page_size_recent_companys"
                              [pageSizeOptions]="pageSizeOptionsRecentCompanys" showFirstLastButtons (page)="handlePageRecentCompanys($event)">
                            </mat-paginator>
                          </div>
                        </mat-tab>
                      </mat-tab-group>
                    </span></h5>
                </div>
              </div>
            </div><!-- End Tabla de empresas -->


            <!-- Tabla de Vacantes -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">Vacantes recientes <span>
                      <mat-tab-group class="mat-tab-group" mat-align-tabs="center">
                        <mat-tab label="Aceptadas" class="mat-tab-label">
                          <table class="table table-borderless datatable">
                            <thead>
                              <tr align="center">
                                <th scope="fotoDePerfil">Foto de Perfil</th>
                                <th scope="numero">Número</th>
                                <th scope="vacante">Vacante</th>
                                <th scope="estado">Estado</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr align="center"
                                *ngFor="let vacanteAceptada of vacantesAceptadas | paginate: page_size_recent_vacancies:page_number_recent_vacancies">
                                <!-- <th scope="row"><a href="#"><img src="../../../assets/img/unknown-user.jpg" alt=""></a></th> -->
                                <th scope="row"><a [href]="urlVacante(vacanteAceptada.id_vacante)">
                                  <img *ngIf="vacanteAceptada.imagen !== 'null'" src="../../../assets/img/unknown-user.jpg" alt="">
                                  <img [src]= "vacanteAceptada.imagen" alt=""></a></th>
                                <th scope="row"><a [href]="urlVacante(vacanteAceptada.id_vacante)">{{vacanteAceptada.id_vacante}}</a></th>
                                <td><a [href]="urlVacante(vacanteAceptada.id_vacante)" class="text-dark">{{vacanteAceptada.puesto}}</a></td>
                                <td><span class="badge bg-success text-dark">{{vacanteAceptada.estado}}</span></td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- Paginación -->
                          <div class="row justify-content-end mw-100" *ngIf="vacantesAceptadas.length > 0">
                            <mat-paginator [length]="vacantesAceptadas.length" [pageSize]="page_size_recent_vacancies"
                              [pageSizeOptions]="pageSizeOptionsRecentVacancies" showFirstLastButtons (page)="handlePageRecentVacancies($event)">
                            </mat-paginator>
                          </div>
                        </mat-tab>
                        <mat-tab label="En Espera" class="mat-tab-label">
                          <table class="table table-borderless datatable">
                            <thead>
                              <tr align="center">
                                <th scope="fotoDePerfil">Foto de Perfil</th>
                                <th scope="numero">Número</th>
                                <th scope="vacante">Vacante</th>
                                <th scope="estado">Estado</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr align="center" 
                                *ngFor="let vacanteEnEspera of vacantesEnEspera | paginate: page_size_recent_vacancies:page_number_recent_vacancies">
                                <!-- <img *ngIf="vacanteEnEspera.imagen === 'null'" src="../../../assets/img/unknown-user.jpg" alt=""> -->
                                <th scope="row"><a [href]="urlVacante(vacanteEnEspera.id_vacante)">
                                  <img *ngIf="vacanteEnEspera.imagen !== 'null'" src="../../../assets/img/unknown-user.jpg" alt="">
                                  <img [src]= "vacanteEnEspera.imagen" alt=""></a></th>
                                <th scope="row"><a [href]="urlVacante(vacanteEnEspera.id_vacante)">{{vacanteEnEspera.id_vacante}}</a></th>
                                <td><a [href]="urlVacante(vacanteEnEspera.id_vacante)" class="text-dark">{{vacanteEnEspera.puesto}}</a></td>
                                <td><span class="badge bg-warning text-dark">{{vacanteEnEspera.estado}}</span></td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- Paginación -->
                          <div class="row justify-content-end mw-100" *ngIf="vacantesEnEspera.length > 0">
                            <mat-paginator [length]="vacantesEnEspera.length" [pageSize]="page_size_recent_vacancies"
                              [pageSizeOptions]="pageSizeOptionsRecentVacancies" showFirstLastButtons (page)="handlePageRecentVacancies($event)">
                            </mat-paginator>
                          </div>
                        </mat-tab>
                        <mat-tab label="Rechazadas" class="mat-tab-label">
                          <table class="table table-borderless datatable">
                            <thead>
                              <tr align="center">
                                <th scope="fotoDePerfil">Foto de Perfil</th>
                                <th scope="numero">Número</th>
                                <th scope="vacante">Vacante</th>
                                <th scope="estado">Estado</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr align="center"
                                *ngFor="let vacanteRechazada of vacantesRechazadas | paginate: page_size_recent_vacancies:page_number_recent_vacancies">
                                <!-- <th scope="row"><a href="#"><img src="../../../assets/img/unknown-user.jpg" alt=""></a></th> -->
                                <th scope="row"><a [href]="urlVacante(vacanteRechazada.id_vacante)">
                                  <img *ngIf="vacanteRechazada.imagen !== 'null'" src="../../../assets/img/unknown-user.jpg" alt="">
                                  <img [src]= "vacanteRechazada.imagen" alt=""></a></th>
                                <th scope="row"><a [href]="urlVacante(vacanteRechazada.id_vacante)">{{vacanteRechazada.id_vacante}}</a></th>
                                <td><a [href]="urlVacante(vacanteRechazada.id_vacante)" class="text-dark">{{vacanteRechazada.puesto}}</a></td>
                                <td><span class="badge bg-danger text-dark">{{vacanteRechazada.estado}}</span></td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- Paginación -->
                          <div class="row justify-content-end mw-100" *ngIf="vacantesRechazadas.length > 0">
                            <mat-paginator [length]="vacantesRechazadas.length" [pageSize]="page_size_recent_vacancies"
                              [pageSizeOptions]="pageSizeOptionsRecentVacancies" showFirstLastButtons (page)="handlePageRecentVacancies($event)">
                            </mat-paginator>
                          </div>
                        </mat-tab>
                      </mat-tab-group>
                    </span></h5>
                </div>
              </div>
            </div><!-- End Tabla de Vacantes -->
          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">
          <!-- En espera -->
          <div class="card info-card espera">
            <div class="card-body">
              <h5 class="card-title">En Espera<span>
                  <mat-tab-group class="mat-tab-group" mat-align-tabs="center">
                    <mat-tab label="Empresas" class="mat-tab-label">
                      <div class="d-flex align-items-center" style="background-image: url('assets/img/Imagen9.png')">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-hourglass-split"></i>
                        </div>
                        <div class="ps-3">
                          <h6>{{empresasEnEspera.length}}</h6>
                          <span class="text-success small pt-1 fw-bold"></span> <span
                            class="text-muted small pt-2 ps-1"></span>

                        </div>
                      </div>
                    </mat-tab>
                    <mat-tab label="Vacantes" class="mat-tab-label">
                      <div class="d-flex align-items-center" style="background-image: url('assets/img/Imagen9.png')">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-hourglass-split"></i>
                        </div>
                        <div class="ps-3">
                          <h6>{{vacantesEnEspera.length}}</h6>
                          <span class="text-success small pt-1 fw-bold"></span> <span
                            class="text-muted small pt-2 ps-1"></span>

                        </div>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                </span></h5>
            </div>
          </div><!-- End En Espera -->

          <!-- Actividad reciente -->
          <div class="d-inline-block mw-100" style="width: auto" alt="Max-width 100%">
            <div class="card top-selling overflow-auto">
              <div class="card-body">
                <h5 class="card-title">Actividad Reciente<span>
                    <mat-tab-group class="mat-tab-group" mat-align-tabs="center">
                      <mat-tab label="Hoy" class="mat-tab-label">
                        <div class="activity">
                          <div *ngIf="administradorAccionesHoy.length > 0">
                            <div class="activity-item d-flex"
                              *ngFor="let administradorAccionHoy of administradorAccionesHoy.reverse() | paginate: page_size_recent_activitys:page_number_recent_activitys">
                              <div class="activite-label">{{administradorAccionHoy.hora_modificacion}}</div>
                              <i *ngIf="administradorAccionHoy.estado_actual === 'ACEPTADA'"
                                class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                              <i *ngIf="administradorAccionHoy.estado_actual === 'EN ESPERA'"
                                class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                              <i *ngIf="administradorAccionHoy.estado_actual === 'RECHAZADA'"
                                class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                              <div class="activity-content">
                                {{administradorAccionHoy.estado_actual}} 
                                <a [href]="urlEmpresa(administradorAccionHoy.id_usuario_empresa_fk)" class="fw-bold text-dark"
                                  *ngIf="administradorAccionHoy.id_usuario_empresa_fk">
                                  | {{administradorAccionHoy.Usuario.nombre}}</a>
                                <a [href]="urlVacante(administradorAccionHoy.id_vacante_fk)" class="fw-bold text-dark"
                                  *ngIf="administradorAccionHoy.id_vacante_fk">
                                  | {{administradorAccionHoy.Vacante.puesto}}</a>
                              </div>
                            </div>
                            <!-- Paginación -->
                            <div class="mw-100">
                              <mat-paginator [length]="administradorAccionesHoy.length" [pageSize]="page_size_recent_activitys"
                                [pageSizeOptions]="pageSizeOptionsRecentActivitys" (page)="handlePageRecentActivitys($event)">
                              </mat-paginator>
                            </div>
                          </div>
                        </div>
                      </mat-tab>
                      <mat-tab label="Ayer">
                        <div class="activity">
                          <div *ngIf="administradorAccionesAyer.length > 0">
                            <div class="activity-item d-flex"
                              *ngFor="let administradorAccionAyer of administradorAccionesAyer.reverse() | paginate: page_size_recent_activitys:page_number_recent_activitys">
                              <div class="activite-label" *ngIf="administradorAccionAyer.hora_modificacion">
                                {{administradorAccionAyer.hora_modificacion}}</div>
                              <i *ngIf="administradorAccionAyer.estado_actual === 'ACEPTADA'"
                                class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                              <i *ngIf="administradorAccionAyer.estado_actual === 'EN ESPERA'"
                                class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                              <i *ngIf="administradorAccionAyer.estado_actual === 'RECHAZADA'"
                                class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                              <div class="activity-content">
                                {{administradorAccionAyer.estado_actual}} 
                                <a [href]="urlEmpresa(administradorAccionAyer.id_usuario_empresa_fk)" class="fw-bold text-dark"
                                  *ngIf="administradorAccionAyer.id_usuario_empresa_fk">
                                  | {{administradorAccionAyer.Usuario.nombre}}</a>
                                <a [href]="urlVacante(administradorAccionAyer.id_vacante_fk)" class="fw-bold text-dark"
                                  *ngIf="administradorAccionAyer.id_vacante_fk">
                                  | {{administradorAccionAyer.Vacante.puesto}}</a>
                              </div>
                            </div>
                            <!-- Paginación -->
                            <div class="mw-100">
                              <mat-paginator [length]="administradorAccionesAyer.length" [pageSize]="page_size_recent_activitys"
                                [pageSizeOptions]="pageSizeOptionsRecentActivitys" (page)="handlePageRecentActivitys($event)">
                              </mat-paginator>
                            </div>
                          </div>
                        </div>
                      </mat-tab>
                      <mat-tab label="Todas">
                        <div class="activity">
                          <div *ngIf="administradorAccionesTodas.length > 0">
                            <div class="activity">
                              <div class="activity-item d-flex"
                                *ngFor="let administradorAccionTodas of administradorAccionesTodas.reverse() | paginate: page_size_recent_activitys:page_number_recent_activitys">
                                <div class="activite-label">{{administradorAccionTodas.solo_fecha_modificacion}} </div>
                                <i *ngIf="administradorAccionTodas.estado_actual === 'ACEPTADA'"
                                  class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                                <i *ngIf="administradorAccionTodas.estado_actual === 'EN ESPERA'"
                                  class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                                <i *ngIf="administradorAccionTodas.estado_actual === 'RECHAZADA'"
                                  class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                                <div class="activity-content">
                                  {{administradorAccionTodas.estado_actual}} 
                                  <a [href]="urlEmpresa(administradorAccionTodas.id_usuario_empresa_fk)" class="fw-bold text-dark"
                                    *ngIf="administradorAccionTodas.id_usuario_empresa_fk">|
                                    | {{administradorAccionTodas.Usuario.nombre}}</a>
                                  <a [href]="urlVacante(administradorAccionTodas.id_vacante_fk)" class="fw-bold text-dark"
                                    *ngIf="administradorAccionTodas.id_vacante_fk">
                                    | {{administradorAccionTodas.Vacante.puesto}}</a>
                                </div>
                              </div>
                            </div>
                            <!-- Paginación -->
                            <div class="mw-100">
                              <mat-paginator [length]="administradorAccionesTodas.length"
                                [pageSize]="page_size_recent_activitys"
                                [pageSizeOptions]="pageSizeOptionsRecentActivitys"
                                showFirstLastButtons
                                (page)="handlePageRecentActivitys($event)">
                              </mat-paginator>
                            </div>
                          </div>
                        </div>
                      </mat-tab>
                    </mat-tab-group>
                  </span></h5>
              </div>
            </div>
          </div>
          <!-- End Actividad reciente -->
        </div>
        <!--End Right side columns -->
      </div><!-- End Left side columns -->
    </section>
  </div>
</div>