<div class="main-content">
	<div class="container-fluid">
    <!-- <main id="main" class="main"> -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Aprobadas -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filtro</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Empresas</a></li>
                    <li><a class="dropdown-item" href="#">Vacantes</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Aprobadas <span>| Empresas</span></h5>

                  <div class="d-flex align-items-center" style="background-image: url('assets/img/Imagen7.png');">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-check-square-fill"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{empresasAceptadas.length}}</h6>
                      <span class="text-success small pt-1 fw-bold"></span> <span
                        class="text-muted small pt-2 ps-1"></span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Aprobadas -->


            <!-- Rechazadas -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filtro</h6>
                    </li>
                    <li><a class="dropdown-item" href="#">Empresas</a></li>
                    <li><a class="dropdown-item" href="#">Vacantes</a></li>

                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Rechazadas <span>| Empresas</span></h5>

                  <div class="d-flex align-items-center" style="background-image: url('assets/img/Imagen8.png')">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-file-excel-fill"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{empresasRechazadas.length}}</h6>
                      <span class="text-success small pt-1 fw-bold"></span> <span
                        class="text-muted small pt-2 ps-1"></span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Rechazadas -->


            <!-- En espera -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card espera">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filtro</h6>
                    </li>
                    <li><a class="dropdown-item" href="#">Empresas</a></li>
                    <li><a class="dropdown-item" href="#">Vacantes</a></li>

                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">En Espera <span>| Empresas</span></h5>

                  <div class="d-flex align-items-center" style="background-image: url('assets/img/Imagen9.png')">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-hourglass-split"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{empresasEnEspera.length}}</h6>
                      <span class="text-success small pt-1 fw-bold"></span> <span
                        class="text-muted small pt-2 ps-1"></span>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End En Espera -->

            <!-- Tabla de Empresas -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filtro</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Aprobadas</a></li>
                    <li><a class="dropdown-item" href="#">En espera</a></li>
                    <li><a class="dropdown-item" href="#">Rechazadas</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Empresas recientes <span>| Aprobadas</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">Foto de Perfil</th>
                        <th scope="col">Número</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let empresaAceptada of empresasAceptadas">
                        <th scope="row"><a href="#"><img src= "../../../assets/img/unknown-user.jpg" alt=""></a></th>
                        <!-- <th scope="row" *ngIf="!empresaAcepta.foto_perfil"><a href="#"><img src= "empresaAceptada.foto_perfil" alt=""></a></th> -->
                        <th scope="row"><a href="#">{{empresaAceptada.id_empresa}}</a></th>
                        <td><a href="#" class="text-primary">{{empresaAceptada.nombre}}</a></td>
                        <td><span class="badge bg-success">{{empresaAceptada.estado}}</span></td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Tabla de empresas -->


            <!-- Tabla de Vacantes -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filtro</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Aprobadas</a></li>
                    <li><a class="dropdown-item" href="#">En espera</a></li>
                    <li><a class="dropdown-item" href="#">Rechazadas</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Vacantes recientes <span>| Aprobadas</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">Foto de Perfil</th>
                        <th scope="col">Número</th>
                        <th scope="col">Vacante</th>
                        <th scope="col">Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let vacanteAceptada of vacantesAceptadas">
                        <th scope="row"><a href="#"><img src= "../../../assets/img/unknown-user.jpg" alt=""></a></th>
                        <th scope="row"><a href="#">{{vacanteAceptada.id_vacante}}</a></th>
                        <td><a href="#" class="text-primary">{{vacanteAceptada.puesto}}</a></td>
                        <td><span class="badge bg-success">{{vacanteAceptada.estado}}</span></td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Tabla de Vacantes -->
          </div>

        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Actividad reciente -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filtro</h6>
                </li>

                <li><a class="dropdown-item" href="#">Hoy</a></li>
                <li><a class="dropdown-item" href="#">Esta semana</a></li>
                <li><a class="dropdown-item" href="#">Este mes</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">Actividad Reciente <span>| Hoy</span></h5>

              <div class="activity">

                <div class="activity-item d-flex" *ngFor="let administradorAccion of administradorAcciones">
                  <div class="activite-label">{{administradorAccion.fecha_modificacion}}</div>
                  <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                  <div class="activity-content">
                    {{administradorAccion.estado_actual}} <a href="#" class="fw-bold text-dark" *ngIf="administradorAccion.id_usuario_empresa_fk">{{administradorAccion.Usuario.nombre}}</a>
                    <a href="#" class="fw-bold text-dark" *ngIf="administradorAccion.id_vacante_fk">{{administradorAccion.Vacante.puesto}}</a>
                  </div>
                </div>

              </div>

            </div>
          </div><!-- End Actividad reciente -->

        </div>
      </div><!-- End Left side columns -->

    </section>
  </div>
</div>