<div class="main-content">
	<div class="container-fluid">
		<div class="card">
			<div class="card-body">
				<h4 class="text-primary" style="padding-top: 10px">Filtros</h4>
				<form>
					<div class="row align-items-center justify-content-center">
						<div class="col-md-4">
							<div class="input-group no-border">
								<input
									type="text"
									value=""
									class="form-control"
									placeholder="Buscar por puesto de vacante ..."
									[formControl]="search"
								/>
								<button
									mat-raised-button
									type="submit"
									class="btn btn-white btn-round btn-just-icon"
									matTooltip="Buscar"
								>
									<i class="material-icons">search</i>
									<div class="ripple-container"></div>
								</button>
							</div>
						</div>
						<div class="col-md-2">
							<mat-form-field appearance="">
								<mat-label>Vacantes</mat-label>
								<mat-select
									formControlName="estadoVacante"
									(selectionChange)="changeEstado($event.value)"
								>
									<mat-option [value]="null">En revisión</mat-option>
									<mat-option value="ACEPTADA">Aceptadas</mat-option>
									<mat-option value="EN ESPERA">En espera</mat-option>
									<mat-option value="RECHAZADA">Rechazadas</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div *ngIf="estado === 'EN ESPERA'" class="col-md-2">
							<div class="row justify-content-center">
								<mat-checkbox
									formControlName="diasDespues"
									(change)="changeDiasDespues($event.checked)"
									>Mas de {{ diasEnEspera }} dias</mat-checkbox
								>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<section class="section profile" *ngIf="vacantes.length > 0">
			<div
				class="row"
				*ngFor="let vacante of vacantes | paginate: page_size:page_number"
			>
				<div class="col-xl-4">
					<div class="card">
						<div
							class="card-body profile-card pt-4 d-flex flex-column align-items-center"
						>
							<div
								class="card-avatar"
								*ngIf="vacante.Usuario.foto_perfil === null; else noEsNulo"
							>
								<img class="img" src="./assets/img/IECA-Blanco.jpg" />
							</div>
							<ng-template class="card-avatar" #noEsNulo>
								<img class="img" [src]="vacante.Usuario.foto_perfil" />
							</ng-template>

							<h2>{{ vacante.puesto }}</h2>
							<h3>Empresa:</h3>
							<h4>
								<b>{{ vacante.Usuario.nombre | uppercase }}</b>
							</h4>
							<h3><b>Correo:</b></h3>
							<h4>{{ vacante.Usuario.email }}</h4>
							<h3>Estatus:</h3>
							<h4 *ngIf="vacante.estado === null">
								<b>EN REVISIÓN</b>
							</h4>
							<h4>
								<b>{{ vacante.estado }}</b>
							</h4>

							<h3 *ngIf="vacante.dias_transcurridos">Días transcurridos:</h3>
							<h4 *ngIf="vacante.dias_transcurridos">
								<b>{{ vacante.dias_transcurridos }}</b>
							</h4>
						</div>
					</div>
				</div>

				<div class="col-xl-8">
					<div class="card">
						<div class="card-body pt-3">
							<!-- Bordered Tabs -->
							<ul
								class="nav nav-tabs nav-tabs-bordered"
								style="background-color: #000f9f"
							>
								<li class="nav-item">
									<label class="card-inicio">Perfil de la vacante </label>
								</li>
							</ul>
							<!-- Profile Edit Form -->
							<form>
								<div
									class="tab-pane fade show active profile-overview"
									id="profile-overview"
								>
									<div class="row">
										<div
											class="col-lg-3 col-md-4 label"
											style="text-align: right"
										>
											Fecha de publicación:
										</div>
										<div
											*ngIf="vacante.fecha_publicacion"
											class="col-lg-9 col-md-8"
										>
											{{ vacante.fecha_publicacion }}
										</div>
										<div
											*ngIf="!vacante.fecha_publicacion"
											class="col-lg-9 col-md-8"
										>
											No publicada
										</div>
									</div>

									<div class="row">
										<div
											class="col-lg-3 col-md-4 label"
											style="text-align: right"
										>
											Sueldo:
										</div>
										<div
											*ngIf="vacante.sueldo === 'Negociable'"
											class="col-lg-9 col-md-8"
										>
											{{ vacante.sueldo }}
										</div>
										<div
											*ngIf="vacante.sueldo !== 'Negociable'"
											class="col-lg-9 col-md-8"
										>
											$ {{ vacante.sueldo | number }}
										</div>
									</div>

									<div class="row">
										<div
											class="col-lg-3 col-md-4 label"
											style="text-align: right"
										>
											Descripción del puesto:
										</div>
										<div class="col-lg-9 col-md-8">
											{{ vacante.descripcion }}
										</div>
									</div>

									<div class="row">
										<div
											class="col-lg-3 col-md-4 label"
											style="text-align: right"
										>
											Modalidad:
										</div>
										<div class="col-lg-9 col-md-8">{{ vacante.modalidad }}</div>
									</div>

									<div class="row">
										<div
											class="col-lg-3 col-md-4 label"
											style="text-align: right"
										>
											Nivel:
										</div>
										<div class="col-lg-9 col-md-8">{{ vacante.nivel }}</div>
									</div>
								</div>
								<div class="text-center">
									<button
										type="submit"
										class="btn btn-success"
										(click)="aceptarVacante(vacante)"
									>
										Aceptar
									</button>
									<button
										type="submit"
										class="btn btn-danger"
										(click)="rechazarVacante(vacante)"
									>
										Rechazar
									</button>
									<button
										type="submit"
										class="btn btn-warning"
										(click)="enEsperaVacante(vacante)"
									>
										En Espera
									</button>
								</div>

								<div
									class="tab-pane fade profile-edit pt-3"
									id="profile-edit"
								></div>
							</form>
						</div>
					</div>
					<!-- End Bordered Tabs -->
				</div>
			</div>
		</section>
		<div
			*ngIf="vacantes.length === 0 && buscarPalabra === ''"
			style="text-align: center"
		>
			<h3 class="font-weight-bold text-center text-primary">
				¡No se han encontrado resultados!
			</h3>
			<img
				src="../../../assets/img/without_result.svg"
				class="img-fluid rounded mx-auto d-block"
				alt="Imagen para representar que no hay resultados"
			/>
		</div>
		<div
			*ngIf="vacantes.length === 0 && buscarPalabra !== ''"
			style="text-align: center"
		>
			<h3 class="font-weight-bold text-center text-primary">
				¡No hay ningún puesto de alguna vacante que coincida con esta búsqueda!
			</h3>
			<img
				src="../../../assets/img/without_result.svg"
				class="img-fluid rounded mx-auto d-block"
				alt="Imagen para representar que no hay resultados"
			/>
		</div>

		<!-- Paginación -->
		<div class="row justify-content-end m-t-2" *ngIf="vacantes.length > 0">
			<div class="col-md-12">
				<mat-paginator
					[length]="vacantes.length"
					[pageSize]="page_size"
					[pageSizeOptions]="pageSizeOptions"
					showFirstLastButtons
					(page)="handlePage($event)"
				>
				</mat-paginator>
			</div>
		</div>
	</div>
</div>
