<!-- <header id="header" class="header fixed-top d-flex align-items-center">
	<div class="search-bar">
		<form
			class="search-form d-flex align-items-center"
			method="POST"
			action="#"
		>
			<input
				type="text"
				name="query"
				placeholder="Buscar empresa..."
				title="Enter search keyword"
			/>
			<button type="submit" title="Search"><i class="bi bi-search"></i></button>
		</form>
	</div>


	<nav class="header-nav ms-auto">
		<ul class="d-flex align-items-center">
			<li class="nav-item d-block d-lg-none">
				<a class="nav-link nav-icon search-bar-toggle" href="#">
					<i class="bi bi-search"></i>
				</a>
			</li>

		</ul>
	</nav>
</header>
End Header -->
<div class="main-content">
	<div class="container-fluid">
		<!-- Filtros -->
		<div class="card">
			<div class="card-body">
				<h4 class="text-primary" style="padding-top: 10px">Filtros</h4>
				<!-- <form *ngIf="!filterForm">
                    <h3 class="font-weight-bold text-center text-primary">¡No se han encontrado resultados!</h3>
                    <img src="../../../assets/img/without_result.svg" class="img-fluid rounded mx-auto d-block" alt="Imagen para representar que no hay resultados">
                </form> -->
				<!-- <form [formGroup]="filterForm"> -->
				<form>
					<div class="row align-items-center justify-content-center">
						<div class="col-md-4">
							<div class="input-group no-border">
								<input
									type="text"
									value=""
									class="form-control"
									placeholder="Buscar por nombre de empresa ..."
									[formControl]=""
								/>
								<button
									mat-raised-button
									type="submit"
									class="btn btn-white btn-round btn-just-icon"
									matTooltip="Buscar"
								>
									<i class="material-icons">search</i>
									<div class="ripple-container"></div>
								</button>
							</div>
						</div>
						<div class="col-md-2">
							<mat-form-field appearance="">
								<mat-label>Empresas</mat-label>
								<mat-select
									formControlName="estadoEmpresa"
									(selectionChange)="changeEstado($event.value)"
								>
									<mat-option [value]="null">Sin estado</mat-option>
									<mat-option value="ACEPTADA">Aceptadas</mat-option>
									<mat-option value="EN ESPERA">En espera</mat-option>
									<mat-option value="RECHAZADA">Rechazadas</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div *ngIf="estado === 'EN ESPERA'" class="col-md-2">
							<div class="row justify-content-center">
								<mat-checkbox
									formControlName="diasDespues"
									(change)="changeDiasDespues($event.checked)"
									>Mas de {{ diasEnEspera }} dias</mat-checkbox
								>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<section class="section profile">
			<div class="row" *ngFor="let empresa of empresas">
				<div class="col-xl-4">
					<div class="card">
						<div
							class="card-body profile-card pt-4 d-flex flex-column align-items-center"
						>
							<div
								class="card-avatar"
								*ngIf="empresa.foto_empresa === null; else noEsNulo"
							>
								<img class="img" src="./assets/img/faces/marc.jpg" />
							</div>
							<ng-template class="card-avatar" #noEsNulo>
								<img class="img" [src]="empresa.foto_empresa" />
								<h3>ola:</h3>
							</ng-template>
							<h2>{{ empresa.nombre }}</h2>
							<h3>Estatus:</h3>

							<h4 *ngIf="empresa.estado === null">
								<b>SIN ESTADO</b>
							</h4>

							<h4>
								<b>{{ empresa.estado }}</b>
							</h4>
						</div>
					</div>
				</div>

				<div class="col-xl-8">
					<div class="card">
						<div class="card-body pt-3">
							<!-- Bordered Tabs -->
							<ul
								class="nav nav-tabs nav-tabs-bordered"
								style="background-color: #000f9f"
							>
								<li class="nav-item">
									<label class="card-inicio">Perfil de la empresa </label>
								</li>
							</ul>
							<!-- Profile Edit Form -->
							<form>
								<div
									class="tab-pane fade show active profile-overview"
									id="profile-overview"
								>
									<div class="row">
										<div
											class="col-lg-3 col-md-4 label"
											style="text-align: right"
										>
											Nombre del(a) administrador(a):
										</div>
										<div class="col-lg-9 col-md-8">
											{{ empresa.administrador }}
										</div>
									</div>

									<div class="row">
										<div
											class="col-lg-3 col-md-4 label"
											style="text-align: right"
										>
											Ubicación:
										</div>
										<div class="col-lg-9 col-md-8">{{ empresa.ubicacion }}</div>
									</div>

									<div class="row">
										<div
											class="col-lg-3 col-md-4 label"
											style="text-align: right"
										>
											Giro:
										</div>
										<div class="col-lg-9 col-md-8">{{ empresa.giro }}</div>
									</div>

									<div class="row">
										<div
											class="col-lg-3 col-md-4 label"
											style="text-align: right"
										>
											Teléfono:
										</div>
										<div class="col-lg-9 col-md-8">{{ empresa.telefono }}</div>
									</div>

									<div class="row">
										<div
											class="col-lg-3 col-md-4 label"
											style="text-align: right"
										>
											Página web:
										</div>
										<div class="col-lg-9 col-md-8 text-primary">
											<a href=" ">{{ empresa.pagina_web }}</a>
										</div>
									</div>
								</div>
								<div class="text-center">
									<button
										type="submit"
										class="btn btn-success"
										(click)="aceptarEmpresa(empresa)"
									>
										Aceptar
									</button>
									<button
										type="submit"
										class="btn btn-danger"
										(click)="rechazarEmpresa(empresa)"
									>
										Rechazar
									</button>
									<button
										type="submit"
										class="btn btn-warning"
										(click)="enEsperaEmpresa(empresa)"
									>
										En Espera
									</button>
								</div>

								<div
									class="tab-pane fade profile-edit pt-3"
									id="profile-edit"
								></div>
							</form>
						</div>
					</div>
					<!-- End Bordered Tabs -->
				</div>
			</div>
		</section>
		<div *ngIf="empresas.length === 0" style="text-align: center">
			No hay empresas por el momento
		</div>
	</div>
</div>
